<nav class="bg-white border-gray-200 dark:bg-gray-900 shadow">
  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
    <a [routerLink]="'/'" class="flex items-center space-x-3 rtl:space-x-reverse cursor-pointer">
      <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">Promoções</span>
    </a>
    <div class="w-full md:block md:w-auto">
      <ul class="font-medium flex flex-col p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-8 md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
        <li><a [routerLink]="'/promotions'" routerLinkActive="text-blue-700 dark:text-blue-500" class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent cursor-pointer">Promoções</a></li>
        <li><a [routerLink]="'/affiliates'" routerLinkActive="text-blue-700 dark:text-blue-500" class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent cursor-pointer">Afiliados</a></li>
        <li><a [routerLink]="'/schedules'" routerLinkActive="text-blue-700 dark:text-blue-500" class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent cursor-pointer">Agendamentos</a></li>
        <li><a [routerLink]="'/send-logs'" routerLinkActive="text-blue-700 dark:text-blue-500" class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent cursor-pointer">Logs</a></li>
        <li><a [routerLink]="'/import'" routerLinkActive="text-blue-700 dark:text-blue-500" class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent cursor-pointer">Importação</a></li>
      </ul>
    </div>
  </div>
</nav> 